In [1]:
import pandas as pd

In [2]:
users = pd.read_csv('Users.csv',usecols=['Id','DisplayName'])
posts = pd.read_csv('Posts.csv',usecols=['Id','Title'])
SimUsers = pd.read_csv('SimUsers_AbtMe_TAG.csv')

In [3]:
users = users.set_index('Id')
posts = posts.set_index('Id')

In [4]:
SimUsers.head()

,User1_id,User1_post,user2_id,User2_post
0,75,[5933],33176,[19546]
1,1264,[10165],9966,[6004]
2,2647,"[2480, 2608, 2627, 10849, 12108, 12619, 13828,...",31043,[37738]
3,2723,"[2618, 2623, 5357, 8694, 9216, 10307, 10745, 1...",12771,"[15119, 15208]"
4,2830,[903],41366,[24310]

In [5]:
posts.head()

                                                Title
Id
5   How can I do simple machine learning without h...
7   What open-source books (or other materials) pr...
9                                                 NaN
10                                                NaN
14           Is Data Science the Same as Data Mining?

In [6]:
# simUsers_1 = SimUsers['User1_id'].tolist()
# simUsers_2 = SimUsers['user2_id'].tolist()
# simUsers = simUsers_1 + simUsers_2

In [7]:
display_name_user1 = [] 
display_name_user2 = [] 

title_post_user1 = []
title_post_user2 = []

In [8]:
for i in range(len(SimUsers)):
    ind = SimUsers['User1_id'][i]
    display_name_user1.append(users['DisplayName'][ind])
    ind1 = SimUsers['user2_id'][i]
    display_name_user2.append(users['DisplayName'][ind1])
    
    tmp = SimUsers['User1_post'][i]
    tmp = tmp[1:-1]
    ind2 = tmp.split(',')
    temp_title = []
    for j in ind2:
        title = posts['Title'][int(j)]
        temp_title.append(title)
    title_post_user1.append(temp_title)
        
    tmp = SimUsers['User2_post'][i]
    tmp = tmp[1:-1]
    ind3 = tmp.split(',')
    temp_title2 = []
    for k in ind3:
        title1 = posts['Title'][int(k)]
        temp_title2.append(title1)
    title_post_user2.append(temp_title2)

In [9]:
len(title_post_user1),len(title_post_user2)

(151, 151)

In [10]:
SimUsers['U1_Name'] = display_name_user1
SimUsers['PostTitles_user1'] = title_post_user1
SimUsers['U2_Name'] = display_name_user2
SimUsers['PostTitles_user2'] = title_post_user2

In [11]:
SimUsers.head()

,User1_id,User1_post,user2_id,User2_post,U1_Name,PostTitles_user1,U2_Name,PostTitles_user2
0,75,[5933],33176,[19546],Shagun Sodhani,[What possible data products can be built usin...,tejal567,[How to reduce an unknown size data into a fix...
1,1264,[10165],9966,[6004],prooffreader,[What's the best way to use binned data in a t...,untitledprogrammer,[How to select features from text data?]
2,2647,"[2480, 2608, 2627, 10849, 12108, 12619, 13828,...",31043,[37738],Minu,"[Visualization using D3, Simple Excel Question...",Pranav Pandey,[How to know for sure if we can learn from a g...
3,2723,"[2618, 2623, 5357, 8694, 9216, 10307, 10745, 1...",12771,"[15119, 15208]",Hack-R,[Ethically and Cost-effectively Scaling Data S...,ultron,"[Practical use of oop in R, Replacing values i..."
4,2830,[903],41366,[24310],teebszet,[Analyzing A/B test results which are not norm...,K48,[Creating the optimal set of utterances to tra...

In [12]:
Output_File1 = SimUsers.drop(columns=['User1_id','User1_post','user2_id','User2_post'])

In [13]:
Output_File1.head()

,U1_Name,PostTitles_user1,U2_Name,PostTitles_user2
0,Shagun Sodhani,[What possible data products can be built usin...,tejal567,[How to reduce an unknown size data into a fix...
1,prooffreader,[What's the best way to use binned data in a t...,untitledprogrammer,[How to select features from text data?]
2,Minu,"[Visualization using D3, Simple Excel Question...",Pranav Pandey,[How to know for sure if we can learn from a g...
3,Hack-R,[Ethically and Cost-effectively Scaling Data S...,ultron,"[Practical use of oop in R, Replacing values i..."
4,teebszet,[Analyzing A/B test results which are not norm...,K48,[Creating the optimal set of utterances to tra...

In [15]:
type(Output_File1.PostTitles_user2[0])

list

In [17]:
UserName = Output_File1['U1_Name'].tolist() + Output_File1['U2_Name'].tolist()

# Posts_1 = Output_File1['PostTitles_user1']
# Posts_2 = Output_File1['PostTitles_user2']

Posts = Output_File1['PostTitles_user1'].tolist() + Output_File1['PostTitles_user2'].tolist()

# RPosts_1 = Output_File1['PostTitles_user2']
# RPosts_2 = Output_File1['PostTitles_user1']

RecommendedPosts = Output_File1['PostTitles_user2'].tolist() + Output_File1['PostTitles_user1'].tolist()

In [18]:
Output_File2 = pd.DataFrame(columns=['UserName', 'Posts', 'RecommendedPosts'])

In [19]:
Output_File2['UserName'] = UserName
Output_File2['Posts'] = Posts
Output_File2['RecommendedPosts'] = RecommendedPosts

In [20]:
Output_File2.to_csv('Recommendations.csv',index=False)